<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <SCRIPT src="/webjars/jquery/3.3.1/dist/jquery.min.js"></SCRIPT>
    <SCRIPT src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></SCRIPT>
    <SCRIPT src="/js/CodeHaper.js"></SCRIPT>

</head>
<body>
<div style="margin: 10px;">
    <h1 th:text="添加"></h1>
    <form role="form" style="margin: 10px;">
        <div th:class="form-group">
            <label th:for="name" th:text="标题"></label>
            <input th:type="text" th:class="form-control" th:id="title" th:name="title" th:placeholder="请输入标题">
        </div>
        <div th:class="form-group">
            <label th:for="name" th:text="内容"></label>
            <input th:type="text" th:class="form-control" th:id="content" th:name="content" th:placeholder="请输入内容">
        </div>
        <button th:type="button" class="btn btn-default" th:text="提交" th:onclick="'javascript:addBlog();'"></button>
    </form>
</div>
<script>
    function addBlog(){
        var title = $("#title").val();
        var content = $("#content").val();
        alert(title+content);
        $.ajax({
            url:"http://localhost:8080/blog",
            type:"post",
            data:{
                "title":title,
                "content":content
            },//将json对象转换成json字符串发送
            dataType:"json",
            success:function(result){
                if(result.status=="1"||result.status==1){
                    alert(result.msg);
                }else{
                    window.location.href="http://localhost:8080/blog";
                }
            },
        });
    }
</script>
</body>
</html>