<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <SCRIPT src="/webjars/jquery/3.3.1/dist/jquery.min.js"></SCRIPT>
    <SCRIPT src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></SCRIPT>
</head>
<body>
<table class="table table-bordered">
    <caption>thymeleaf-CRUD-demo</caption>
    <thead>
    <tr>
        <th th:text="编号"></th>
        <th th:text="标题"></th>
        <th th:text="内容"></th>
        <th th:text="时间"></th>
        <th th:text="编辑"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if=" ${ls.size()} ge '0'" th:each="blog,blogStat : ${ls}">
        <td th:text="${blogStat.count}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.createTime}"></td>
        <td>
            <a onclick="deleteBlog(1);">编辑</a>
            <a th:href="@{/blog}">删除</a>
        </td>
    </tr>
    <tr th:if=" ${ls.size()} lt '0'">
        <td th:text="${ls}"></td>
    </tr>
    </tbody>
</table>
<script>
    function deleteBlog(id) {
        var r=confirm("确认删除？");
        if(r){
            $.ajax({
                url:"@{/blog/}"+id,
                type:"DELETE",
                data:id,//将json对象转换成json字符串发送
                dataType:"json",
                success:function(result){
                    alert(result);
                },
            });
        }
    }
</script>
</body>
</html>